.formInputWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.formInputWrap {
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--gap-10);
}

.formInput {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5);
  min-width: var(--pixel-269);
}

.formInputLabel {
  cursor: pointer;
  position: relative;
  font-size: var(--font-xsmall);
  font-weight: 600;
  font-family: var(--font-sand);
  color: var(--theme-bluedark);
  text-align: left;
}

.formFieldInput,
.formInputField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.formFieldInput {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-family: inherit;
  font-size: var(--font-medium);
  background-color: transparent;
  flex: 1;
  padding: var(--pixel-10);
  color: inherit;
}

.formInputField.disabled,
.formInputField.disabled:hover {
  border: 1px solid var(--theme-blue-5);
  background-color: var(--theme-blue-5);
}

.formFieldInput::placeholder {
  color: var(--theme-bluedark-50);
  font-weight: 500;
}

.formInputField {
  align-self: stretch;
  border-radius: var(--gap-15);
  font-family: var(--font-sand);
  color: var(--theme-bluedark);
  font-weight: 600;
  background-color: transparent;
  border: 1px solid var(--theme-bluedark-10);
  padding: var(--gap-5);
  transition: all 0.3s ease-in-out;
}

.formInputField:hover,
.formInputField:focus-within {
  border: 1px solid var(--theme-blue);
}

.formFieldSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: var(--pixel-10);
  font-family: inherit;
  font-weight: inherit;
  font-size: var(--font-medium);
  color: inherit;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: 0;
  font-family: var(--font-sand);
  font-size: var(--font-small);
  background-color: var(--theme-bluelight);
  flex: 1;
  border-radius: var(--pixel-12);
  height: var(--pixel-48);
  justify-content: flex-start;
  padding: var(--padd-0-15);
  font-weight: 700;
  color: var(--theme-bluedark);
}

.input::placeholder {
  color: var(--theme-bluedark-50);
}
